.row
  .col-xs-12.col-md-12
    %form.form-inline
      .col-xs-5.col-md-5
        .form-group
          %label Тип заказа
          %select.form-control(ng-model = 'vm.filters.rent')
            %option(value = 'undefined') Все
            %option(value = 'false') Продажа
            %option(value = 'true') Аренда

        .form-group
          %label Статус заказа
          %select.form-control.input-xs(ng-model = "vm.filters.status")
            %option(ng-repeat = "status in vm.order_statuses" value = "{{status}}") {{ status | statusFilter }}

      .col-xs-5.col-md-5
        .form-group
          %label Дата
          %input.form-control(placeholder = "от" ng-model="vm.date_filter.date_from" ui-mask="99.99.9999"  ui-mask-placeholder ui-mask-placeholder-char="_")
          -#%input.form-control(ng-click = "vm.open_datepicker('date_from_opened')" datepicker-options = "dateOptions" is-open = "vm.date_filter.date_from_opened" ng-model = "vm.date_filter.date_from" ng-required = "false" type = "text"  uib-datepicker-popup = "")

        .form-group
          %input.form-control(placeholder = "до" ng-model="vm.date_filter.date_to" ui-mask="99.99.9999"  ui-mask-placeholder ui-mask-placeholder-char="_")
          -#%input.form-control(ng-click = "vm.open_datepicker('date_to_opened')" datepicker-options = "dateOptions" is-open = "vm.date_filter.date_to_opened" ng-model = "vm.date_filter.date_to" ng-required = "false" type = "text"  uib-datepicker-popup = "")

      .col-md-2.col-xs-2
        .form-group
          %button.btn.btn-success.btn-flat(ng-click = "vm.fetch()")
            показать

  .col-xs-12
    %br
    .well.well-sm
      Заказов : {{ vm.statistic.total_orders }}. Аренда {{ vm.statistic.rent_amount }}. Продажа {{ vm.statistic.buy_amount }}
