.box
  .box-header.with-border
    = render '/templates/admin/orders/filter'

.box
  .box-body.no-padding
    .row
      .col-xs-12
        %table.table.table-striped.table-hover.table-bordered
          %thead
            %td.col-xs-2 Клиент
            %td.col-xs-2 Количество гирлянд
            %td.col-xs-1 Тип
            %td.col-xs-1 Цена
            %td.col-xs-2 Опции
            %td.col-xs-2 Статус
            %td.col-xs-1 Дата
            %td.col-xs-2
          %tbody
            %tr(dir-paginate  = "order in vm.orders | itemsPerPage: 50")
              %td
                %a(href = "mailto:{{ order.customer.email }}") {{ order.customer.name }}
                %p +7 {{ order.customer.phone }}
                %p {{ order.customer.email }}
                %p {{ order.delivery_address }}
              %td
                %p(ng-repeat = "garland in order.order_garlands")
                  {{garland.count}}
                  %b
                    %small X
                  {{ garland.garland_price.length }} метра с {{ garland.lamp_price.power }} ВТ
              %td
                %span.label.label-info(ng-show = '!order.rent') Продажа
                %span.label.label-success(ng-show = 'order.rent') Аренда на {{ order.days }} дней
                %p.small(ng-show = 'order.rent') {{order.start_date | date: 'dd.MM.yyyy'}} до {{order.end_date | date: 'dd.MM.yyyy' }}
              %td {{ order.total_price }} ₽
              %td
                %span.label.label-default(ng-show = 'order.need_installation') монтаж
                %span.label.label-default(ng-show = 'order.rain_protection') защита от дождя
              %td
                %select.form-control.input-xs(ng-model = "order.status" ng-change = "vm.save(order)")
                  %option(ng-repeat = "status in vm.order_statuses" value = "{{status}}") {{ status | statusFilter }}
              %td {{ order.c_at | date: 'dd.MM.yyyy' }}
              %td
                %a.btn.btn-sm.btn-success.btn-flat(ng-click = "vm.open(order)")
                  %i.fa.fa-pencil
                %a.btn.btn-sm.btn-danger.btn-flat(ng-click = "vm.destroy(order)")
                  %i.fa.fa-trash

  .box-footer
    .col-xs-12
      %dir-pagination-controls

