.modal-header
  %button.close(aria-label = "Close" data-dismiss = "modal" type = "button")
    %span(aria-hidden = "true") ×
  %h4.modal-title
    %p(ng-show = 'vm.order.rent')
      Аренда на {{ vm.order.days }} дня на сумму {{ vm.order.total_price }} для {{ vm.order.customer.name }} | +7 {{ vm.order.customer.phone }}
    %p(ng-show = '!vm.order.rent')
      Продажа на сумму {{ vm.order.total_price }} для {{ vm.order.customer.name }} | +7 {{ vm.order.customer.phone }}

.modal-body.well.well-sm
  %form.form-horizontal
    %p.lead Общая информация
    .form-group
      .col-sm-3
        %label Тип сделки
      .col-sm-9
        %span.label.label-success(ng-show = 'vm.order.rent') Аренда
        %span.label.label-info(ng-show = '!vm.order.rent') Продажа

    .form-group
      .col-sm-3
        %label Сумма
      .col-sm-9
        %input.form-control(ng-model = "vm.order.total_price")

    .form-group
      .col-sm-3
        %label Статус
      .col-sm-9
        %select.form-control.input-xs(ng-model = "vm.order.status")
          %option(ng-repeat = "status in vm.order_statuses" value = "{{status}}") {{ status | statusFilter }}

    .form-group
      .col-sm-3
        %label Опции
      .col-sm-9
        %span.label.label-default(ng-show = 'vm.order.need_installation') монтаж
        %span.label.label-default(ng-show = 'vm.order.rain_protection') защита от дождя
    %hr
    %p.lead Клиент
    .form-group
      .col-sm-3
        %label Имя
      .col-sm-9
        %input.form-control(ng-model = "vm.order.customer.name")

    .form-group
      .col-sm-3
        %label Телефон
      .col-sm-9
        %input.form-control(ng-model = "vm.order.customer.phone")

    .form-group
      .col-sm-3
        %label Email
      .col-sm-9
        %input.form-control(ng-model = "vm.order.customer.email")

    %hr
    %p.lead Гирлянды
    .row
      .col-xs-12
        %table.table.table-striped.table-hover.table-bordered
          %thead
            %td.col-xs-1 Колич-во
            %td.col-xs-2 Длина
            %td.col-xs-1 Колич-во
            %td.col-xs-1 Мощность ламп
            %td.col-xs-1 Сумма
            %td.col-xs-1
              %a.btn.btn-xs.btn-flat.btn-success(ng-click = "vm.add_order_garland()")
                %i.fa.fa-plus

          %tbody
            %tr(ng-repeat = "garland in vm.order.order_garlands")
              %td
                %input.input-xs.form-control.col-xs-1(ng-model = "garland.count" type="number")
              %td
                %select.form-control(ng-options = "garland_price as garland_price.name for garland_price in vm.garland_prices track by garland_price.id" ng-model = "garland.garland_price")
              %td {{ garland.garland_price.lamps }} 💡
              %td
                %select.form-control(ng-options = "lamp as lamp.name for lamp in vm.lamp_prices track by lamp.id" ng-model = "garland.lamp_price")
              %td
                .buy(ng-show = 'vm.order.rent')
                  {{ garland.garland_price.rent_price }} + {{ garland.garland_price.lamps * garland.lamp_price.rent_price }}
                .rent(ng-show = '!vm.order.rent')
                  {{ garland.garland_price.buy_price }} + {{ garland.garland_price.lamps * garland.lamp_price.buy_price }}

              %td
                %a.btn.btn-sm.btn-danger.btn-flat(ng-click = "vm.order.order_garlands.splice(vm.order.order_garlands.indexOf(garland), 1)")
                  %i.fa.fa-trash
      -#.col-xs-12
      -#  %pre
      -#    {{ vm.order | json }}
.modal-footer
  %button.btn.btn-default.pull-left(ng-click = "vm.cancel()") Отмена
  %button.btn.btn-primary(ng-click = "vm.save()") Сохранить
