.footer_holder
  .footer
    .section_inner
      .footer_table
        .footer_t_cell
          %p.text_upper
            HAPPY STATION
            %br/
            в соцсетях:
          %ul.footer_share
            %li
              %a.sh_link.sh_fb(href = "https://www.facebook.com/happystationru")
            %li
              %a.sh_link.sh_in(href = "https://www.instagram.com/happystation/")
            %li
              %a.sh_link.sh_vk(href = "https://vk.com/happystation")
        .footer_t_cell
          %p
            %a.footer_logo(href = "http://happystation.ru/")
              %span.text_upper
                Перейти в магазин
                %br/
                Happy Station
        .footer_t_cell
          %p.text_upper нужна помощь?
          .callback_text
            Звоните: 8 499 393 32 85
            %br/
            или пишите
            %a.callback_link(href = "mailto:arenda.happystation@gmail.com") arenda.happystation@gmail.com

