.header
  .section_inner
    %ul.main_menu
      %li.menu_item
        %a.menu_link(href = "" ng-click = "vm.gotoAnchor('order_form')")
          %span.link_text Рассчитать стоимость
      %li.menu_item
        %a.menu_link(href = '' ui-sref = 'conditions')
          %span.link_text условия аренды
      %li.menu_item.logo_holder
        %span.logo
      %li.menu_item
        %a.menu_link(href = '' ui-sref = 'benefits')
          %span.link_text Наши преимущества
      %li.menu_item
        %a.menu_link(href = "tel:84951357531")
          %span.link_text звоните: 8 495 135 75 31
