#add_garland_price.modal
  .modal-dialog
    .modal-content
      .modal-header
        %button.close(aria-label = "Close" data-dismiss = "modal" type = "button")
          %span(aria-hidden = "true") ×
        %h4.modal-title Добавить цену на гирлянду
      .modal-body
        %form.form-horizontal
          .form-group
            .col-sm-3
              %label Длина в метрах
            .col-sm-9
              %input.form-control(ng-model = "vm.garland_price.length")

          .form-group
            .col-sm-3
              %label Число лампочек
            .col-sm-9
              %input.form-control(ng-model = "vm.garland_price.lamps")

          .form-group
            .col-sm-3
              %label Цена на покупку
            .col-sm-9
              %input.form-control(type = 'number' ng-model = "vm.garland_price.buy_price")

          .form-group
            .col-sm-3
              %label Цена на аренду
            .col-sm-9
              %input.form-control(type = 'number' ng-model = "vm.garland_price.rent_price")


      .modal-footer
        %button.btn.btn-default.pull-left(data-dismiss = "modal" type = "button") Отмена
        %button.btn.btn-primary(type = "button") Добавить
