%nav.navbar.navbar-static-top{:role => "navigation"}
  %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
    %span.sr-only Toggle navigation
  .navbar-custom-menu
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle(href = destroy_user_session_path)
          Выход
