.modal-header
  %button.close(aria-label = "Close" data-dismiss = "modal" type = "button")
    %span(aria-hidden = "true") ×
  %h4.modal-title(ng-show = 'vm.price.id') Редактировать цену на лампу
  %h4.modal-title(ng-show = '!vm.price.id') Добавить цену на лампу
.modal-body

  %form.form-horizontal
    .form-group
      .col-sm-3
        %label Мощность ватт
      .col-sm-9
        %input.form-control(ng-model = "vm.price.power")

    .form-group
      .col-sm-3
        %label Цена на покупку
      .col-sm-9
        %input.form-control(type = 'number' ng-model = "vm.price.buy_price")

    .form-group
      .col-sm-3
        %label Цена на аренду
      .col-sm-9
        %input.form-control(type = 'number' ng-model = "vm.price.rent_price")

.modal-footer
  %button.btn.btn-default.pull-left(ng-click = "vm.cancel()") Отмена
  %button.btn.btn-primary(ng-click = "vm.save()") Сохранить
