.box
  .box-header.with-border
    %label.checkbox-inline
      %input(type = 'checkbox' ng-model = "vm.filter.all")
      все фото ({{vm.stat.all}})
    %label.checkbox-inline
      %input(type = 'checkbox' ng-model = "vm.filter.holidays")
      праздники ({{vm.stat.holidays}})
    %label.checkbox-inline
      %input(type = 'checkbox' ng-model = "vm.filter.iterior")
      ярмарки и интерьеры ({{vm.stat.iterior}})
    %label.checkbox-inline
      %input(type = 'checkbox' ng-model = "vm.filter.cinema")
      реклама и кино ({{vm.stat.cinema}})
    %label.checkbox-inline
      %input(type = 'checkbox' ng-model = "vm.filter.wedding")
      свадьбы ({{vm.stat.wedding}})

    %button.btn.btn-sm.btn-success.btn-flat.pull-right(ng-click = "vm.upload_modal()") Добавить

  .box-body
    .row
      .col-sm-12
        .row.well
          .col-sm-12.col-xs-12.col-md-4.col-lg-3(ng-repeat = "image in vm.images | filter:{tags: vm.filter}" style = 'margin-bottom: 25px;'  height = "240px" style = "display: block;" width = "320px")
            %img.thumbnail.img-responsive(ng-src = "{{image.path}}")
            %a.btn.btn-xs.btn-danger.btn-flat(ng-click = "vm.destroy(image)")
              %i.fa.fa-trash
            %span.label.label-default(ng-repeat = "(key, value) in image.tags" ng-show = "{{value}}" style = 'margin-right: 2px') {{ key | tagFilter}}
            %br
            %input(ng-model="image.date" ui-mask="99.99.9999"  ui-mask-placeholder ui-mask-placeholder-char="_")
            %br
            %input(ng-model="image.description" )

            -#%input.form-control(placeholder = "дата" ng-model="file.date" ui-mask="99.99.9999"  ui-mask-placeholder ui-mask-placeholder-char="_")
            %button.btn.btn-default(ng-click="vm.send_edit(image)") Редактировать описание
