.box
  .box-header.with-border
    %h3.box-title.lead Код баннера на лендинге

  .box-body
    .row
      .col-xs-12

        %form.form-horizontal
          .form-group
            .col-sm-12
              %textarea.form-control(rows = 5 ng-model = "vm.banner.text")

          .form-group
            .col-sm-12
              %button.btn.btn-success.btn-flat(ng-click = "vm.save_banner()") Сохранить

