.slider_holder
  .hero_holder
    .hero_inner.text_center
      .gl_table
        .gl_table_cell
          .section_inner
            .any_questions аренда
            .why_rockstars условия аренды гирлянд
  %a.btn_v3.order_now_btn.white_btn(href = "/uploads/HS_Rent_05.pdf") скачать договор (pdf)
.base
  = render 'templates/landing/shared/menu'

  .main_content
    %ul.condition_list
      %li.section_w.section_v4
        .section_inner
          .condition_block
            .condition_index 01
            .condition_title ПРЕДМЕТ ДОГОВОРА
            .condition_caption 1.1.
            %p Арендодатель сдает арендатору сроком на 5 дней в аренду согласно приложению к настоящему договору (приемо-передаточный акт) имущество для использования арендатором в целях осуществления своих уставных задач.
      %li.section_w.section_v5
        .section_inner
          .condition_block
            .condition_index 02
            .condition_title ОБЯЗАННОСТИ СТОРОН
            .condition_caption 2.1. АРЕНДАТОР ОБЯЗУЕТСЯ
            %p
              %b> А/
              Использовать аредуемое имущество по прямому назначению, указанному в п.1 договора;
            %p
              %b> Б/
              Содержать арендуемое имущество в полной исправности и рабочем состоянии до возврата арендодателю;
            %p
              %b> В/
              Своевременно производить за свой счет ремонт арендуемого имущества в случае его поломки или оплачивать ремонт силами арендодателя;
            %p
              %b> Г/
              Вернуть имущество в том виде, в котором оно было получено. Если к имуществу прилагались дополнительные детали (лампочки, запасные детали, съемные части в отдельной упаковки, упаковка), они должны быть возвращены упакованными и не поврежденными;
            %p
              %b> Д/
              В случае, если дополнительные детали были повреждены или возвращены не упакованными, арендодатель имеет право потребовать за них оплату в размере стоимости, указанной в листе дополнительных услуг (приложение к настоящему договору).
            .condition_caption 2.2/ Арендодатель обязуется
            %p
              %b> А/
              После подписания сторонами договора в указанный арендатором срок предоставить соответствующее имущество в исправном состоянии по приемо- передаточному акту (приложение к настоящему договору);
            %p
              %b> Б/
              Провести инструктаж по эксплуатации и правилам возврата сдаваемого оборудования;
            %p
              %b> В/
              Обеспечить возможность возврата арендуемого имущества арендатором.
      %li.section_w.section_v4
        .section_inner
          .condition_block
            .condition_index 03
            .condition_title ПЛАТЕЖИ И РАСЧЕТЫ ПО ДОГОВОРУ
            .condition_caption 3.1.
            %p За аренду указанного в п.1 настоящего договора имущества арендатор перечисляет арендодателю плату в размере _______________ рублей и залоговую стоимость имущества таким образом, что в сумме стоимость аренды и залог составляют 100% стоимости имущества. Начисление и выплата причитающихся арендодателю сумм производится в течение 3 дней с момента подписания договора;
            .condition_caption 3.2.
            %p При неуплате арендатором в оговоренные сроки арендной платы, арендодатель вправе выставить счет-платежное требование со ссылкой на номер и дату договора или взыскать с арендатора задолженность.
      %li.section_w.section_v5
        .section_inner
          .condition_block
            .condition_index 04
            .condition_title ПРОЧЕЕ
            .condition_caption 4.1.
            %p Во всех остальных случаях, не предусмотренных настоящим договором, стороны руководствуются действующим гражданским законодательством;
            .condition_caption 4.2.
            %p Настоящий договор составлен в двух подлинных экземплярах, которые имеют одинаковую юридическую силу.
            .condition_caption 4.3.
            %p Приложения к договору, без которого он недействителен: приемо-передаточный акт и лист дополнительных услуг
    .section_w.section_v6
      .section_inner
        .condition_block
          %h2.section_caption.bordered
            ДОПОЛНИТЕЛЬНЫЕ
            %br/
            УСЛУГИ
          .additional_service_block
            .additional_service_caption друзья!
            %p Заниматься ремонтом непросто и далеко не всегда приятно.
            %p Мы очень хотим, чтобы никому не пришлось ничего чинить и все остались довольны друг-другом, поэтому просим обращаться с нашими вещами так, как если бы они были вашими.
            %p Пожалуйста, следуйте условиям договора, относитесь к вещам бережно, или предупреждайте нас заранее, если собираетесь использовать гирлянды в суровых условиях, где они могут пострадать.
            %p Спасибо!
      .text_center
        %a.btn_v3.order_btn.gold_btn_white{:href => "/#/#order_form"} оформить заказ

  = render 'templates/landing/shared/footer'
