.hero_holder
  .hero_inner.text_center
    .gl_table
      .gl_table_cell
        .section_inner
          .any_questions Заказ успешно отправлен!
          .why_rockstars Спасибо!
          .hero_text_block
            %p Номер вашего заказа — {{ order_id }}, все подробности уже у вас в почте.
