.hero_holder
  .hero_inner.text_center
    .gl_table
      .gl_table_cell
        .section_inner
          .any_questions Заказ успешно отправлен!
          .why_rockstars Успешный заказ!
          .hero_text_block
            %p Пару слов об успешном заказе!
